body {
    pointer-events: none;
}

#HUD {
    display: flex;
    flex-direction: column;
    width: fit-content;
    pointer-events: auto;
    /* border: 2px solid red; */
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
}

/* #controls {
  display: flex;
  flex-direction: row;
  gap: 1px;
  width: fit-content;  
  justify-content: space-evenly;
}

#controls button {
  cursor: pointer;
  font-size: 12px;
  flex: 1;
  min-width: 30px;  
  display: flex;           
  align-items: center;    
  justify-content: center; 
} */
