body {
  pointer-events: none;
}

#HUD {
  display: flex;
  flex-direction: column;
  width: fit-content;
  pointer-events: auto;
  border: 2px solid red;
}

#portrait {
  width: 5vw;
}

#buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* border: 2px solid blue; */
}

button {
  width: 1.5vw;
}

#text {
  font-size: 14px;
  max-width: 250px;
  text-align: center;
  cursor: pointer;  /* Show it's interactive */
}