body { 
  background: transparent; 
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;

  border: 2px solid white;
  box-sizing: border-box;
}

#controls {
  position: absolute;
  top: 200px;
  left: 5px;
  display: flex;
  gap: 5px;
  z-index: 1000;
}

#controls button {
  /* background: rgba(0, 0, 0, 0.7);
  border: none;
  color: white; */
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  /* font-size: 14px;
  transition: background 0.2s; */
} */

#controls button:hover {
  background: rgba(0, 0, 0, 0.9);
}

#character {
  width: 10%;
  height: auto; /* Maintains aspect ratio */
  cursor: pointer;  /* Show it's interactive */
}

#text {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  margin: 10px auto 0 auto;  /* Centers the box horizontally */
  font-size: 14px;
  max-width: 250px;
  text-align: center;
  cursor: pointer;  /* Show it's interactive */
}